<div class="text-center m-4">
    <h3>This is <b><%= @user.first_name %></b>'s profile</h3>
    <label>First Name:</label>
    <%= @user.first_name %><br/>
    <label>Last Name:</label>
    <%= @user.last_name %><br/>
    <label>Email:</label>
    <%= @user.email %><br>
    <label>phone:</label>
    <%= @user.phone %><br>
    <br/><br/>
    <%= link_to 'Edit user', edit_user_path(@user) , class:'btn btn-primary' %>
    <%= link_to 'Go Back', users_path , class:'btn btn-primary'%>
</div>